@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model ASP_NETCore_RazorPages.Pages.Index2Model

<div style="margin-top:20px">
    <form method="post">
        Name: <input asp-for="Name" />
        <input type="submit" value="Get name" />
    </form>

    @{
        if (!string.IsNullOrEmpty(Model.Name))
        {
            <span>Hello: @Model.Name</span>
        }
    }
</div>