@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var name = string.Empty;
    if (Request.HasFormContentType)
    {
        name = Request.Form["Name"];
    }
}

<h1>Welcome to Home page</h1>

<div style="margin-top:20px">
    <form method="post">
        Name: <input name="Name" />
        <input type="submit" value="Get name" />
    </form>

    @{
        if (!string.IsNullOrEmpty(name))
        {
            <span>Hello: @name</span>
        }
    }
</div>